{% extends 'new_base.html' %}

{% load static %}

{% block title %}Download Notes{% endblock title %}

{% block content %}

<!-- Owl Corousel -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        background: MintCream;
        margin-top: 120px;
        /* linear-gradient(to bottom, rgba(202, 222, 241, 0.97), rgba(202, 222, 241, 0.97)); */
    }
    .owl-carousel .owl-item {
        transition: all 0.3s ease-in-out;
    }

    .owl-carousel .owl-item .card {
        padding: 30px;
        position: relative;
    }

    .owl-carousel .owl-stage-outer {
        overflow-y: auto !important;
        padding-bottom: 40px;
    }

    .owl-carousel .owl-item img {
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
    }

    .owl-carousel .owl-item .card .name {
        position: absolute;
        bottom: -20px;
        left: 33%;
        color: #101c81;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: aquamarine;
        padding: 0.3rem 0.4rem;
        border-radius: 5px;
        box-shadow: 2px 3px 15px #3c405a;
    }

    .owl-carousel .owl-item .card {
        opacity: 0.2;
        transform: scale3d(0.8, 0.8, 0.8);
        transition: all 0.3s ease-in-out;
    }

    .owl-carousel .owl-item.active.center .card {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    .owl-carousel .owl-dots {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .owl-theme .owl-dots .owl-dot span {
        height: 20px;
        background: #2a6ba3 !important;
        border-radius: 2px !important;
        opacity: 0.8;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        height: 13px;
        width: 13px;
        opacity: 1;
        transform: translateY(2px);
        background: #83b8e7 !important;
    }

    @media(min-width: 480.6px) and (max-width: 575.5px) {
        .owl-carousel .owl-item .card .name {
            left: 24%;
        }
    }

    @media(max-width: 360px) {
        .owl-carousel .owl-item .card .name {
            left: 30%;
        }
    }
    .social-icons {
        margin-top: 10px;
        /* Updated margin */
    }

    .social-icons a {
        color: #333;
        margin: 0 5px;
        /* Updated margin */
        font-size: 20px;
        /* Updated font size */
    }

    .social-icons a:hover {
        color: #0077b5;
    }
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<script>
    $(document).ready(function () {
        var silder = $(".owl-carousel");
        silder.owlCarousel({
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: false,
            items: 1,
            stagePadding: 20,
            center: true,
            nav: false,
            margin: 50,
            dots: true,
            loop: true,
            responsive: {
                0: { items: 1 },
                480: { items: 2 },
                575: { items: 2 },
                768: { items: 2 },
                991: { items: 3 },
                1200: { items: 4 }
            }
        });
    });
</script>


<body>
    <div class="container">
        <h1>Download Notes</h1>
        <form method="GET" action="{% url 'download_note' %}">
            <h3>Type your subject name here</h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
            {% if trigger %}
            <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: red;">
            Note: You have requested to accessed other's courses notes</h4>
            <h2>Search Your Course Here</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" name="c" value="{{ request.GET.c }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
            {% endif %}
        </form>

        <div class="owl-carousel owl-theme mt-5">
            {% for note in notes %}
                <div class="owl-item">
                    <div class="card">
                        <div class="img-card">
                            <img src="/static/python.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <small class="mr-3"><i class="fa fa-user text-primary"></i> {{note.fid_fk.name}}</small>
                            <small class="mr-3"><i class="fa fa-folder text-primary"></i> {{note.sub_id_fk.sub_name}}</small>
                            <small class="mr-3"><i class="fa fa-building text-primary"></i> {{note.cid_fk.cname}} </small>
                            <h5 class="card-title">{{ note.note_text }}</h5>
                            <a href="{{ note.file.url }}" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>        
    </div>
</body>
{% endblock content %}

<!-- Owl Corousel -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        background: MintCream;
        /* linear-gradient(to bottom, rgba(202, 222, 241, 0.97), rgba(202, 222, 241, 0.97)); */
    }
    .owl-carousel .owl-item {
        transition: all 0.3s ease-in-out;
    }

    .owl-carousel .owl-item .card {
        padding: 30px;
        position: relative;
    }

    .owl-carousel .owl-stage-outer {
        overflow-y: auto !important;
        padding-bottom: 40px;
    }

    .owl-carousel .owl-item img {
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
    }

    .owl-carousel .owl-item .card .name {
        position: absolute;
        bottom: -20px;
        left: 33%;
        color: #101c81;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: aquamarine;
        padding: 0.3rem 0.4rem;
        border-radius: 5px;
        box-shadow: 2px 3px 15px #3c405a;
    }

    .owl-carousel .owl-item .card {
        opacity: 0.2;
        transform: scale3d(0.8, 0.8, 0.8);
        transition: all 0.3s ease-in-out;
    }

    .owl-carousel .owl-item.active.center .card {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    .owl-carousel .owl-dots {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .owl-theme .owl-dots .owl-dot span {
        height: 20px;
        background: #2a6ba3 !important;
        border-radius: 2px !important;
        opacity: 0.8;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        height: 13px;
        width: 13px;
        opacity: 1;
        transform: translateY(2px);
        background: #83b8e7 !important;
    }

    @media(min-width: 480.6px) and (max-width: 575.5px) {
        .owl-carousel .owl-item .card .name {
            left: 24%;
        }
    }

    @media(max-width: 360px) {
        .owl-carousel .owl-item .card .name {
            left: 30%;
        }
    }
    .social-icons {
        margin-top: 10px;
        /* Updated margin */
    }

    .social-icons a {
        color: #333;
        margin: 0 5px;
        /* Updated margin */
        font-size: 20px;
        /* Updated font size */
    }

    .social-icons a:hover {
        color: #0077b5;
    }
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<script>
    $(document).ready(function () {
        var silder = $(".owl-carousel");
        silder.owlCarousel({
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: false,
            items: 1,
            stagePadding: 20,
            center: true,
            nav: false,
            margin: 50,
            dots: true,
            loop: true,
            responsive: {
                0: { items: 1 },
                480: { items: 2 },
                575: { items: 2 },
                768: { items: 2 },
                991: { items: 3 },
                1200: { items: 4 }
            }
        });
    });
</script>

<h1 class="mb-4 text-center">Our Team</h1>
<section id="team">
    <div class="owl-carousel owl-theme mt-5">
        <div class="owl-item">
            <div class="card">
                <div class="img-card">
                    <img src="/media/images/picofme.png" alt="">
                </div>
                <div class="testimonial mt-4 mb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit
                    saepe quo natus aut accusantium alias blanditiis.
                </div>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/fanendra-bhushan-dhruw-94a59621a/"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="name">
                    Fanendra Dhruw
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card">
                    <img src="/media/images/Arpit-1.png"
                        alt="">
                </div>
                <div class="testimonial mt-4 mb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit
                    saepe quo natus aut accusantium alias blanditiis.
                </div>
                <div class="social-icons">
                    <a href="www.linkedin.com/in/arpit-jain-12102720a"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="name">
                    Arpit Jain
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card">
                    <img src="/media/images/Devisha-1.png"
                        alt="">
                </div>
                <div class="testimonial mt-4 mb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit
                    saepe quo natus aut accusantium alias blanditiis.
                </div>
                <div class="social-icons">
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="name">
                    Devisha Sinha
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card">
                    <img src="/media/images/VK-1.png"
                        alt="">
                </div>
                <div class="testimonial mt-4 mb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit
                    saepe quo natus aut accusantium alias blanditiis.
                </div>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/vaishnavi-khandelwal-14a41b175"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="name">
                    Vaishnavi K
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card">
                    <img src="/media/images/Ritesh-1.png"
                        alt="">
                </div>
                <div class="testimonial mt-4 mb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit
                    saepe quo natus aut accusantium alias blanditiis.
                </div>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/ritesh-kumar2030/"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="name">
                    Ritesh Kumar
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="card">
                <div class="img-card">
                    <img src="/static/about-1.jpg"
                        alt="">
                </div>
                <div class="testimonial mt-4 mb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita dicta doloremque odit
                    saepe quo natus aut accusantium alias blanditiis.
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="name">
                    Divya Gupta
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Owl Corousel End -->